@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');

html,
body {
  height: 100%;
  margin: 0;
  background-color:  rgb(25, 25, 94);
}
section {
  height: 100vh;
}

.display-4{
    color: white;
    margin-bottom: 5%;
    font-family: 'Oswald', sans-serif;
    text-align: center;
}

.btn.btn-primary.mb-2{
    background-color: rgb(60, 60, 180);
}

.section{
    height: 100%;
    margin: 5%;
}

.jumbotron{
    margin: 0;
}

.container{
    border-radius: 25px;
    background:  rgb(60, 60, 180);
    padding: 20px;
    height: 100vh;
    margin: 5%;
    text-align: center;
}

.mini-container{
    border-radius: 25px;
    background:  rgb(42, 42, 98);
    padding: 10px;
    margin: 5%;
    text-align: center;
}

.right-align{
    align-items: right;
}

.right-text{
    text-align: right;
}

.center-align{
    text-align: center;
}

.city-text{
    size: 50px;
    color: white;
    text-align: center;
}

.weather-text{
    size: 70px;
    color: white;
}

.text-white{
    color: white;
}

.list-group-item{
    background-color: rgb(60, 60, 180);
    color: white;
}


.text-box{
    width: 70%;
    align-content: center;
    display: inline-block
}


